@model aspcore.Models.Ticket

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-header">
    <h3 class="float-start">Edit</h3>
    <p class="float-end">
        <a asp-action="Index" class="btn btn-outline-danger">Back</a>
    </p>
</div>

<div class="card-body">
    <dl class="row px-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group ">
                <label asp-for="CableType" class="control-label"></label>
                <input asp-for="CableType" class="form-control" multiple="true" />
                <span asp-validation-for="CableType" class="text-danger"></span>
            </div>

            </br>
            <div class="form-group ">
                <label asp-for="TestType" class="control-label"></label>
                <input asp-for="TestType" class="form-control" multiple="true" />
                <span asp-validation-for="TestType" class="text-danger"></span>
            </div>


            </br>
            <div class="form-group ">
                <label asp-for="CoresNumbers" class="control-label"></label>
                <input asp-for="CoresNumbers" class="form-control" multiple="true" />
                <span asp-validation-for="CoresNumbers" class="text-danger"></span>
            </div>

            </br>
            <div class="form-group ">
                <label asp-for="CableLength" class="control-label"></label>
                <input asp-for="CableLength" class="form-control" multiple="true" />
                <span asp-validation-for="CableLength" class="text-danger"></span>
            </div>


            </br>
            <div class="form-group ">
                <label asp-for="Wavelength" class="control-label"></label>
                <input asp-for="Wavelength" class="form-control" multiple="true" />
                <span asp-validation-for="Wavelength" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOpein" /> @Html.DisplayNameFor(model => model.IsOpein)
                </label>
            </div>
            <br />
            <div class="form-group" hidden>
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
</div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
